<tr>
    <td>
        <table class="inner-table">
            <tr>
                <td>問題</td>
                <td>${editQuestion}</td>
            </tr>

            <tr>
                <td>答案</td>
                <td style="white-space: pre-wrap">${editAnswer}</td>
            </tr>
            <tr>
                <td>關鍵字</td>
                <td>${editKeyword}</td>
            </tr>
        </table>
    </td>
    <td>
        <table class="inner-table">
            <tr>
                <td>問題</td>
                <td>${question}</td>
            </tr>

            <tr>
                <td>答案</td>
                <td style="white-space: pre-wrap">${answer}</td>
            </tr>
            <tr>
                <td>關鍵字</td>
                <td>${keyword}</td>
            </tr>

        </table>
    </td>
</tr>