.noBorder {
    border: none !important;
    vertical-align: top;
}

.sub-button {
    border: none;
    color: #0064cb;
    text-decoration;
    font-size: 14px;
    cursor: pointer;
}


table.main-table th{
    text-align: center;
}

table.inner-table {
    margin: 13px;
    width: 85%;
    border-collapse: collapse;
    text-align: center;
}

table.sub-table {
    visibility: collapse;
    width: 70%
}

table.main-table td {
    background-color: #ececf4;
}


table.sub-table,
table.sub-table td {
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}


table.sub-table td:nth-child(odd) {
    background-color: #dedeef;
    white-space: nowrap;
    text-align: center;
}

table.inner-table td:nth-child(odd) {
    white-space: nowrap;
}